
.btn_detail_add{
	box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
	}
/*#nav_color{
    height:44px;
	background: url(../images/blue.png) repeat-x ; 
	}
 #nav_color li{
	float:left;
	width:113px;
	text-align:center;
	height:44px;
	line-height:44px;
	}
#nav_color li:hover{
	background:url(../images/blue_h.png) repeat-x;
	}	
#nav_color li a{
	color:#ffffff;
	font-size:18px;
	} */
.btn_detail_add{
	width:310px;
	border:1px solid #ccc;
	border-radius:10px;
	text-align:center;
	background:url(../images/gray.png) repeat-x;
	}	
.btn_detail_add b{
	width:25px;
	height:25px;
    display:inline-block;
	vertical-align:middle;
	background:url(../images/btncss.png) 0 -48px no-repeat;
	}	
.btn_detail_add span{
	vertical-align:middle;
	display:inline-block;
	padding-left:5px;
	}	
.btn_detail_add:hover{
	background:url(../images/gray_h.png) repeat-x;
	
	}	
.btn_detail_add:hover b{
	background-position:0 -48px
	}	
.btn_detail_add a,.btn_blue_buy a{
	color:#0fa7e6;
	font-size:20px;
	padding:6px 40px;
	display:block;
	}		
.btn_detail_add a:hover{
	color:#0fa7e6;
	}	
.btn_detail_add,.btn_blue_buy{
	float:left;
	overflow:hidden;
	display:inline;
	}	
.btn_blue_buy{
	border:1px solid #26AFE7;
	border-radius:10px;
	text-align:center;
	margin-left:10px;
	background:url(../images/blue_btn.png) repeat-x;
	}	
.btn_blue_buy a{
	padding:8px 40px;
	color:#ffffff;
	}
.btn_blue_buy a:hover{
	background:url(../images/blue_btn_h.png) repeat-x;
	}	
	
.shopCart_infor{
	background: url(../images/cart_blue.png) no-repeat;
}

.shopCart_detail{
 	/* border:1px solid rgba(86, 186, 222, 0.97);  */
}
.message .msg a{
	color: rgba(6, 127, 232, 1);
}
.shopCart_detail #divv p a{	
 	/* color: rgba(7, 147, 145, 0.96);  */
	
}	
.add_cart_notice{
	 background-color: rgba(24, 155, 222, 0.77);
}

.add_cart_notice .success{
    color: rgba(231, 236, 239, 1);
}
.cart .cart_foot .account{
   margin-top: 10px;
   width: 151px;
   height: 32px;
   background: url(../images/account_blue.png) no-repeat; 
}
.account-address .head,.account-payment .head, .account-invoice .head,.account-cart .head{
	
	background-color: rgba(17, 168, 244, 0.5);

}
.account .submit-button .submitorder{
   margin-top: 10px;
   width: 140px;
   height: 37px;
   background: url(../images/submit_blue.png) no-repeat 0 0;
   display:block;
   float:right;
}
.account-address-form{
    background-color: rgba(17, 168, 244, 0.5);
}

.pager .pager_content a{
	background: rgba(24, 146, 222, 0.44);
	
}	

.pager .pager_content .current{
 	border: 1px rgba(24, 130, 222, 1) solid;
	background: rgba(10, 152, 237, 0.62);
}
.pager .pager_content a:HOVER{
		border: 1px rgba(24, 130, 222, 1) solid;
}
