/*--- layout ---*/
#main { width:960px; margin:8px auto; background:url(images/v1_GlobalBackground_02.png) 648px 0 repeat-y}
.area01 { float:left; width:628px; padding:0 22px 28px 0}
.area02 { float:left; width:300px; padding:0 0 28px 10px}
.area03 { float:left; width:608px; padding:0 32px 28px 10px}

/*--- parent ---*/
.parent01 { margin-bottom:24px}
.parent02 { margin-bottom:30px}
.parent03 { margin-bottom:16px}
.parent04 { margin-bottom:8px}

/*--- block ---*/
.blk01 { border-top:1px solid #ddd}
.blk01 .ttl { padding:10px 0; border-top:1px solid #fff}
.blk01 .ttl h2 { line-height:22px; font-size:16px; color:#c00000}
.blk01 .ttl h2 span.s1 { display:inline-block; height:22px; margin-left:6px; padding-left:32px; vertical-align:top; font:normal 12px/22px Tahoma; color:#333; background:url(images/v1_XLBranch.png) 0 0 no-repeat}
.blk01 .ttl h2 span.s1 span { display:block; padding-right:8px; background:url(images/v1_XLBranch.png) right 0 no-repeat}
.blk01 .ttl h2 span.s1 em { color:#c00000}
.blk01 .ttl h2 span.s1 strong { padding:0 4px; color:#c00000}

.blk02 { border-top:1px solid #ddd}
.blk02 .ttl { padding:10px; border-top:1px solid #fff}
.blk02 .ttl h2 { font-size:14px}

.blk03 { border-top:1px solid #ddd}
.blk03 .ttl { padding:16px 0 12px; border-top:1px solid #fff}
.blk03 .ttl h2 { font-size:16px}

.nobrdr , .nobrdr .ttl { border:0}

/*--- special ---*/
.homeSubjectRecBox { overflow:hidden; height:296px;  border-top:1px solid #4e76aa; border-bottom:1px solid #fff; background:#406ba2}
.homeSubjectRecBox .coda-slider p.loading { padding:20px; text-align:center}
.homeSubjectRecBox .coda-slider-wrapper { position:relative; clear:both; overflow:visible; width:960px; height:279px; margin:0 auto; background:url(images/v1_XLBranch_homeSubRec.png) center top no-repeat}
.homeSubjectRecBox .coda-slider { float:left; position:relative; overflow:hidden; width:860px; height:279px}
.homeSubjectRecBox .coda-slider .panel { display: block; float: left; width: 860px}
.homeSubjectRecBox .coda-slider .panel-container { position:relative}
.homeSubjectRecBox .coda-slider h2 { display:none}
.homeSubjectRecBox .coda-slider p a { float:left; width:860px}
.homeSubjectRecBox .coda-nav-left, .homeSubjectRecBox .coda-nav-right { float:left; width:50px; padding-top:115px}
.homeSubjectRecBox .coda-nav-left a, .homeSubjectRecBox .coda-nav-right a { display:block; width:48px; height:48px; background:url(images/v1_XLBranch_homeSubRec.png) 0 -280px no-repeat}
.homeSubjectRecBox .coda-nav-left a:hover { background-position:-100px -280px}
.homeSubjectRecBox .coda-nav-right a { margin-left:2px; background-position:-50px -280px}
.homeSubjectRecBox .coda-nav-right a:hover { background-position:-150px -280px}
.homeSubjectRecBox .coda-nav {  margin-left: 70px; position:absolute; z-index:1; left:170px; top:264px; clear:both; overflow:hidden}
.homeSubjectRecBox .coda-nav ul li { float:left; width:30px; height:30px; padding-right:2px}
.homeSubjectRecBox .coda-nav ul li a { display:block; overflow:hidden; width:100%; height:100%; line-height:80px; background:url(images/v1_XLBranch_homeSubRec.png) -250px -280px no-repeat}
.homeSubjectRecBox .coda-nav ul li a.current { background-position:-210px -280px}
.homeSubjectRecBox small { display:block; clear:both; width:100%; height:16px; border-bottom:1px solid #ddd; background:#fff}

.homeSubjectList h3 { width:80px; margin-top:4px; padding:4px 0 4px 20px; font-size:14px; color:#fff; background:url(images/v1_XLBranch.png) 0 -30px no-repeat}
.homeSubjectList ul { overflow:hidden; width:100%; padding-bottom:8px}
.homeSubjectList li { float:left; width:100%; margin-top:-1px; padding:9px 0 8px; border-top:1px dotted #ccc}
.homeSubjectList dt { float:left; width:90px; padding:14px 0; text-align:center; font-size:14px; background:#e6e6e6}
.homeSubjectList dd { float:left; width:528px; padding-left:10px; line-height:24px}
.homeSubjectList dd div span { float:left; padding-right:12px;}
.homeSubjectList dd p { clear:both; color:#777}
.homeSubjectList dd p span { padding-right:8px}

.homeConsultList { overflow:hidden; width:100%}
.homeConsultList .item { padding:8px 0; border-bottom:1px dotted #ccc}
.homeConsultList .item dl { float:left; width:100%}
.homeConsultList .item dt { float:left; width:22px; text-align:right; background:url(images/v1_icon_02.png) 0 -117px no-repeat}
.homeConsultList .item dd { float:left; width:606px}
.homeConsultList .item dl.s1 { padding-top:3px}
.homeConsultList .item dl.s1 dt { background-position:0 -147px}
.homeConsultList .func { padding:10px 0}
.homeConsultList .func span.btn-s a { width:80px}
.homeConsultList .func span.more { float:right}
.homeConsultList .func span.more a { padding-right:9px; background:url(images/v1_icon_02.png) right -176px no-repeat}
.homeConsultList .func span.more a:hover { background-position:right -206px}

.homeAlbum .album { position:relative; overflow:hidden; width:530px; height:79px; padding:8px 44px 8px 46px}
.homeAlbum .album span.prev { position:absolute; z-index:1; left:10px; top:35px; width:14px; height:26px}
.homeAlbum .album span.prev a, .homeAlbum .album span.prev a.disabled:hover { display:block; width:100%; height:100%; background:url(images/v1_icon_02.png) 0 -240px no-repeat}
.homeAlbum .album span.prev a.disabled { cursor:default}
.homeAlbum .album span.prev a:hover { background-position:0 -300px}
.homeAlbum .album span.next { position:absolute; z-index:1; right:10px; top:35px; width:14px; height:26px}
.homeAlbum .album span.next a, .homeAlbum .album span.next a.disabled:hover { display:block; width:100%; height:100%; background:url(images/v1_icon_02.png) 0 -270px no-repeat}
.homeAlbum .album span.next a.disabled { cursor:default}
.homeAlbum .album span.next a:hover { background-position:0 -330px}
.homeAlbum .album li { float:left; width:106px; height:79px}
.homeAlbum .album li a { display:block; width:100px; height:75px; padding:1px; text-align:center; border:1px solid #ddd}
.homeAlbum .album li a:hover { border-color:#15589c}
.homeAlbum .album li img { display:block; width:100%; height:100%}

.siderVideo { margin:0 10px; border:3px solid #ccc}
.siderVideo img { width:274px; height:200px}

.siderBook { margin:0 10px; height:140px; background:url(images/v1_XLBranch.png) 0 -60px no-repeat}
.siderBook div { padding:24px 40px}
.siderBook div a { display:block; overflow:hidden; width:200px; height:48px; text-indent:-10em}
.siderBook p { overflow:hidden; width:100%; text-indent:-20em}

.siderSchedule { padding:0 10px}
.siderSchedule p { padding:2px 0}
.siderSchedule p span { padding-right:4px; white-space:nowrap}
.siderSchedule p em { color:#c00000}
.siderSchedule p strong { padding:0 4px}

.siderContact { padding:0 10px}
.siderContact p.more { padding-top:8px}
.siderContact p.more a { padding-right:9px; background:url(images/v1_icon_02.png) right -176px no-repeat}
.siderContact p.more a:hover { background-position:right -206px}

.siderBookTips { padding:0 10px}
.siderBookTips li { list-style:decimal; margin-left:20px; padding:2px 0; line-height:24px}

.siderExamDownload { padding:0 10px}
.siderExamDownload h3 { font-size:12px}
.siderExamDownload ul { padding-bottom:8px}
.siderExamDownload li { padding:6px 0 6px 20px; border-bottom:1px dotted #ccc; background:url(images/v1_icon_01.png) 8px center no-repeat}

.siderEnrollProcess { padding:0 10px}
.siderEnrollProcess ol { height:414px; }
.siderEnrollProcess li { overflow:hidden; height:62px; padding:6px 0; width:100%;  }


.splashMedia { width:960px; margin:10px auto; padding-bottom:12px; text-align:center; background:url(images/v1_GlobalShadow.png) center -80px no-repeat}
.splashMedia img { width:932px; height:112px; border:4px solid #fff}

.breadcrumb { padding:4px 0 8px; font-size:12px; color:#777}
.breadcrumb q { padding:0 4px}
.breadcrumb strong, .breadcrumb strong a { font-weight:normal; color:#777}

.mainTextTitle { border-bottom:1px solid #fff}
.mainTextTitle h1 { padding:8px 0; font:bold 20px/24px Microsoft Yahei, Tahoma}
.mainTextTitle p.hr { display:block; clear:both; overflow:hidden; height:1px; line-height:0; font-size:0; border-top:1px solid #ddd; border-bottom:1px solid #ddd}

.mainTextContent { padding:10px 0 20px; line-height:24px; font-size:14px}
.mainTextContent p { padding-bottom:10px; text-align:justify}
.mainTextContent h2.s1 { font-size:14px; padding:12px 0 8px}
.mainTextContent ul.s1 { padding:0 0 2px 2em}
.mainTextContent ul.s1 li { padding-bottom:8px; list-style:disc}
.mainTextContent ol.s1 { padding:0 0 2px 2em}
.mainTextContent ol.s1 li { padding-bottom:8px; list-style:decimal}
.mainTextContent div.s1 { padding-bottom:10px}
.mainTextContent div.s1 table { width:100%; border-collapse:collapse; font-size:12px}
.mainTextContent div.s1 th { padding:2px 12px; text-align:center; font-weight:bold; border:1px solid #ccc; background:#f5f5f5}
.mainTextContent div.s1 td { padding:4px 12px; border:1px solid #ccc; background:#fff}
.mainTextContent div.s1 td.bush { font-weight:bold; background:#f5f5f5}

.mainTextProspectus { line-height:24px; font-size:14px}
.mainTextProspectus p { padding-bottom:10px; text-align:justify}
.mainTextProspectus ul.s1 { padding:0 0 2px 2em}
.mainTextProspectus ul.s1 li { padding-bottom:8px; list-style:disc}
.mainTextProspectus ol.s1 { padding:0 0 2px 2em}
.mainTextProspectus ol.s1 li { padding-bottom:8px; list-style:decimal}

.prospectusCertificate { line-height:24px; font-size:14px}
.prospectusCertificate p { padding-bottom:10px; text-align:justify}
.prospectusCertificate li { float:left; width:50%}
.prospectusCertificate li img { padding:1px; vertical-align:top; border:1px solid #ddd}
.prospectusCertificate li span { display:block; padding:4px; text-align:center}

.prospectusSubjectList h3 { width:80px; margin-top:4px; padding:4px 0 4px 20px; font-size:14px; color:#fff; background:url(images/v1_XLBranch.png) 0 -30px no-repeat}
.prospectusSubjectList ul { overflow:hidden; width:100%; padding-bottom:8px}
.prospectusSubjectList li { float:left; width:100%; margin-top:-1px; padding:9px 0 8px; border-top:1px dotted #ccc}
.prospectusSubjectList dt { float:left; width:90px; padding:14px 0; text-align:center; font-size:14px; background:#e6e6e6}
.prospectusSubjectList dd { float:left; width:508px; padding-left:10px; line-height:24px}
.prospectusSubjectList dd div span { float:left; padding-right:12px;}
.prospectusSubjectList dd p { clear:both; color:#777}
.prospectusSubjectList dd p span { padding-right:8px}

.prospectusBook { padding:10px 40px}
.prospectusBook strong { display:inline-block; width:240px; vertical-align:middle}
.prospectusBook strong a { display:block; overflow:hidden; width:200px; height:64px; text-indent:-10em; background:url(images/v1_XLBranch.png) 0 -210px no-repeat}
.prospectusBook em { display:inline-block; overflow:hidden; width:205px; height:20px; text-indent:-20em; vertical-align:middle; background:url(images/v1_XLBranch.png) 0 -280px no-repeat}

.schoolConsult .item { padding:10px 0; line-height:24px; text-align:justify; font-size:14px; border-bottom:1px dotted #ccc}
.schoolConsult .item .question small { display:block; padding-bottom:4px}
.schoolConsult .item .reply { position:relative; margin:10px 0 0 20px; padding:12px 20px; background:#e9e9e9}
.schoolConsult .item .reply small { display:block; padding-top:4px; text-align:right; color:#c00000}
.schoolConsult .item .reply q { position:absolute; z-index:1; left:20px; top:-8px; width:16px; height:8px; background:url(images/v1_XLBranch.png) -200px -30px no-repeat}
.schoolConsult .more { padding:12px 0 20px; text-align:right}
.schoolConsult .more a { padding-right:9px; background:url(images/v1_icon_02.png) right -176px no-repeat}
.schoolConsult .more a:hover { background-position:right -206px}
.schoolConsult .paginator { padding:20px 0}

.schoolConsultPost { padding:16px 28px 28px; background:#e6e6e6}
.schoolConsultPost h3 { padding-bottom:12px; font-size:14px}
.schoolConsultPost .ask, .schoolConsultPost .name { padding-bottom:12px}
.schoolConsultPost .ask textarea { width:547px; height:100px}
.schoolConsultPost .name dl { float:left; width:220px}
.schoolConsultPost .name dl input.txtinput { width:200px}
.schoolConsultPost .name dl.s1 { width:280px}
.schoolConsultPost .name dl small { color:#777}
.schoolConsultPost .func input { width:100px}

.subjectListCatalog { padding:10px 0; background:url(images/v1_GlobalShadow.png) 0 -162px no-repeat}
.subjectListCatalog ul { border:1px solid #ddd; background:#eee}
.subjectListCatalog li { float:left; width:150px; text-align:center; font-size:14px; font-weight:bold; border-right:1px solid #ddd}
.subjectListCatalog li a { display:block; padding:12px 0; color:#333; border:1px solid #fff}
.subjectListCatalog li a:hover { background-color:#e3e3e3}
.subjectListCatalog li.selected { position:relative}
.subjectListCatalog li.selected a { color:#fff; background:url(images/v1_XLBranch.png) center -320px no-repeat}
.subjectListCatalog li.selected q { position:absolute; left:50%; margin-left:-8px; top:45px; width:16px; height:8px; background:url(images/v1_XLBranch.png) 0 -364px no-repeat}
.subjectListCatalog li.last { width:153px; border:0}

.subjectList .item { padding:12px 0; border-bottom:1px dotted #ccc}
.subjectList .item .name span { float:right; color:#777}
.subjectList .item .name h2 { font-size:14px}
.subjectList .item .intro { padding:8px 0; line-height:24px}
.subjectList .item .more a { padding-right:9px; background:url(images/v1_icon_02.png) right -176px no-repeat}
.subjectList .item .more a:hover { background-position:right -206px}




.subjectDetailBasic { margin-top:10px; line-height:24px; font-size:14px; border:1px solid #ddd; background:#eee}
.subjectDetailBasic .inner { padding:8px 10px; border:1px solid #f3f3f3}
.subjectDetailBasic dl { font-size:12px; padding:4px 0; border-top:1px dotted #ccc}
.subjectDetailBasic dt { float:left; width:94px; text-align:right; font-weight:bold}
.subjectDetailBasic dd { float:left; width:488px}
.subjectDetailBasic dl.s1 { border:0}
.subjectDetailBasic dl.s1 dd { overflow:hidden; width:80px; height:20px}

.mainTextExemption { padding:10px 0 20px}
.mainTextExemption li { padding:8px 10px 8px 22px; font-size:14px; border-bottom:1px dotted #ccc; background:url(images/v1_icon_01.png) 10px center no-repeat}
.mainTextExemption li.noline { padding:4px 0 6px 0; list-style:none; background:none ; color:#F30}

.mainTextScholarship { padding:10px 0 20px}
.mainTextScholarship li { padding:8px 10px 8px 22px; font-size:14px; border-bottom:1px dotted #ccc; background:url(images/v1_icon_01.png) 10px center no-repeat}

.mainTextQA { padding:10px 0 20px; line-height:24px; font-size:14px}
.mainTextQA dl { padding:8px 0; border-bottom:1px dotted #ccc}
.mainTextQA dt { position:relative; cursor:pointer; padding-left:25px}
.mainTextQA dt q { position:absolute; left:0; top:5px; width:18px; height:16px; background:url(images/v1_icon_02.png) 0 -370px no-repeat}
.mainTextQA dt:hover { text-decoration:underline; color:#c00000}
.mainTextQA dt.open { font-weight:bold}
.mainTextQA dt.open q { background-position:0 -400px}
.mainTextQA dd { display:none; padding:8px 0 8px 25px}
.mainTextQA dd p { padding-bottom:10px}

.mainTextBook { padding-top:8px}
.mainTextBook h2 { padding:8px 0; font-size:14px}
.mainTextBook dl { padding:6px 0; line-height:28px; font-size:14px}
.mainTextBook dt { float:left; width:100px; text-align:right}
.mainTextBook dd { float:left; width:508px}
.mainTextBook dd input.txtinput { width:192px; padding:0 7px}
.mainTextBook dd textarea { width:400px; height:40px; vertical-align:top}
.mainTextBook dd span.selectbox { display:inline-block; height:20px; padding:4px; vertical-align:middle; border:1px solid; border-color:#666 #bbb #bbb #666; background:#fff}
.mainTextBook dd span.selectbox select { width:198px; border:0}
*+html .mainTextBook dd span.selectbox select { font-family:Simsun}
.mainTextBook dd label { margin-right:12px}
.mainTextBook dd small { padding-left:8px; color:#777}
.mainTextBook dd big { display:none; position:absolute; z-index:1; margin-left:4px; padding:0 12px 0 24px; color:#c00000; border:1px solid #E5C3C4; background:url(images/v1_icon_02.png) 6px 8px no-repeat #FFEAEA}
.mainTextBook dd q { display:none; margin-left:8px; padding-right:10px; background:url(images/v1_icon_02.png) 0 -28px no-repeat}
.mainTextBook .check input { width:106px}
.mainTextBook .check img { margin-left:4px; vertical-align:middle}
.mainTextBook .hr { margin-bottom:6px; padding-top:6px; border-bottom:1px dotted #ccc}
.mainTextBook .func { padding:10px 0 60px 100px}
.mainTextBook .func input { width:200px; padding:0}
.mainTextBook .privacy{ float:right}

.mainTextBookSuccess .success { padding:30px 60px}
.mainTextBookSuccess .success img { float:left; width:55px; height:58px; background:url(images/v1_XLBranch.png) -210px -210px no-repeat}
.mainTextBookSuccess .success img.phone { width:46px; height:47px; margin:4px 9px 0 0; background-position:-80px -210px}
.mainTextBookSuccess .success .ctn { float:left; width:420px; padding-left:12px}
.mainTextBookSuccess .success .ctn h3 { padding:8px 0 12px; font:bold 20px Microsoft Yahei; color:#c00000}
.mainTextBookSuccess .success .ctn li { padding:0 0 4px 12px; background:url(images/v1_icon_01.png) 2px 8px no-repeat}
.mainTextBookSuccess .success .ctn li em { color:#c00000}
.mainTextBookSuccess .info { margin-bottom:8px; padding:8px 16px; border:1px solid #ddd; background:#f5f5f5}
.mainTextBookSuccess .info p { padding-bottom:6px; font-weight:bold; border-bottom:1px dotted #ccc}
.mainTextBookSuccess .info ul { padding-top:4px}
.mainTextBookSuccess .info li { float:left; overflow:hidden; width:32%; height:20px; padding:2px 0}
.mainTextBookSuccess .info li.s1 { width:100%}

.contactUs { padding:10px 0 20px; line-height:24px; font-size:14px}
.contactUs p { padding:0 0 10px 2em}
.contactUs .emap { padding-top:10px}
.contactUs .emap a { display:block; width:550px; padding:1px; border:1px solid #dfdfdf}
.contactUs .emap a:hover { border-color:#0052aa}
